body {background-color: tan; font-family: georgia,serif}
h1 {text-align: center; font-size: 40px; font-weight: bold}
h3 {font-size: 25px; font-weight: 400}
li {padding: 8px; font-size:20px; color:black}
img {display: block; margin-left: auto; margin-right: auto}

.recipes {
    border:4px solid black;
    margin: 4rem;
    padding: 6px
}

.space{
    padding: 3px
}
